@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.DisplayColor {
    color: #fff;
    display: inline-flex;
    gap: 10px;
}

.DisplayColor-box {
    display: inline-block;
}

.DisplayColor-button {
    border: 0;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 10%);
}

.DisplayColor-button-text {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color: #fff;
}